.main-info-pc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 98%;
    height: 100%;
}

.main-info-lca {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 65%;
    padding: 10px;
}
.main-info-lca p {
    padding: 5px;
}
.main-info-images {
    margin: 0 auto;
    width: 70%;
    display: flex;
    height: 200px;
}
.main-info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.main-info-image img {
    width: 100px;
}

.main-info-image span {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .main-info-images {
        margin: 0 auto;
        width: 70%;
        display: flex;
        height: 200px;
        flex-wrap: wrap;
    }
    .main-info-pc {
        margin-bottom: 450px;
    }
}
