.container-location {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.address-info-location {
    background-color: #fff; /* Branco */
    padding: 20px;
    margin-right: 20px;
    width: 40%;
}

.address-info-location h2 {
    margin-bottom: 20px;
}
.maps-location {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .container-location {
        display: flex;
        flex-direction: column;
    }
    .maps-location {
        width: 100%;
    }
    .address-info-location {
        width: 100%;
    }
}
