.main-products {
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    gap: 20px;
    padding: 20px;
}
.main-product {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: 80%;
    padding: 10px;
    background-color: #eeeeee;
}
.main-product img {
    width: 30%;
}
.main-products-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.main-products-info p {
    font-weight: bold;
    margin: 10px 0px;
}

.main-products-info button {
    background-color: #0085ff;
    color: #fff;
    line-height: 40px;
    padding: 0 28px;
    display: inline-block;
    margin: 16px 0 0;
    border-radius: 5%;
    width: 50%;
    transition: transform 0.3s;
}

.main-products-info button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.main-product span,
p {
    color: #9a9a9a;
}

@media screen and (max-width: 768px) {
    .main-products {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-product img {
        width: 70%;
    }
}
